<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">

</head>
<body>
	<header th:fragment="cabecalho">
		<nav class="navbar">
		  <div class="container-fluid">
		    <a class="navbar-brand" th:href="@{/}">SaveFriend</a>
		    <div>
			    <button class="btn-darkmode" onclick="addDarkmode()"><i class="material-icons icon-header">brightness_6</i></button>
			    <a class="copy" th:href="@{/copy}"><i class="material-icons icon-header">content_copy</i></a>
		    </div>
		  </div>
		</nav>
	<!-- Dark Mode -->
	<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
	<script>
		function addDarkmode() {
		  
			const darkmode =  new Darkmode();
			darkmode.toggle();
			console.log(darkmode.isActivated()) // will return true  
		  }
	</script>
	</header>
	
	
</body>


</html>
