<div th:replace="~{layout :: layout ( ~{:: #conteudo})}">
	<div id="conteudo">
		<div class="card">
			<div class="card-header">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				    <li class="breadcrumb-item"><a href="/">Página Inicial</a></li>
				    <li class="breadcrumb-item active" aria-current="page">Excluir</li>
				  </ol>
				</nav>
			</div>
			<div class="card-body">
				<form th:method="delete" th:action="@{/friendcode/excluir/{id} (id=${friendCode.id}) }">
					<div class="mb-6 form-outline">
						<input type="text" class="form-control" name="plataform" id="plataform" th:value="${friendCode?.plataform}" readOnly="true"/> 
						<label class="form-label" for="plataform">Plataforma</label>
						<div class="form-helper"></div>
					</div>

					<div class="mb-6 form-outline">
						<input type="text" class="form-control" name="name" id="name" th:value="${friendCode?.name}" readOnly="true"/> 
						<label class="form-label" for="name">Nome</label>
						<div class="form-helper"></div>
					</div>

					<div class="mb-6 form-outline">
						<input type="text" class="form-control" name="code" id="code" th:value="${friendCode?.code}" readOnly="true"/> 
						<label class="form-label" for="code">Código</label>
						<div class="form-helper"></div>
					</div>
					
				    <p style="text-align: justify; color:red; font-size: smaller;"><small>AVISO: Ao efetuar a exclusão do item a ação 
				    será definitiva e não haverá forma de reverter a ação através do sistema, 
				    portanto apenas realize o procedimento se possuir ABSOLUTA certeza da ação.</small></p>

					<button type="submit" class="btn btn-red">Excluir</button>
					<a class="btn btn-secondary" th:href="@{/}">Cancelar</a>
				</form>
			</div>
		</div>
	</div>
</div>