.material-icons {
	color: #673ab7;
}

.fab-i{
	background-color: transparent;
	color: #673ab7;
}

.fab-i:hover {
	color: #3AB72A;
	background-color: transparent;
}
.copy-header{
	color: white;
}

.copy-header:hover{
	color: gray;
}

.acoes {
	font-size: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    background-color: #f5f5f5;
    margin-left: 10px;
}

.navbar {
	background-color: #673ab7;
}

.navbar .bi {
	color: white;
}

.navbar-brand {
	color: white;
}

.navbar-brand:hover {
	color: white;
}

.fab {
    position: fixed;
    padding-top: 15;
    margin-bottom: 0;
    z-index: 997;
    right: 24px;
    bottom: 45px;
    font-size: 50px;
    
    display: flex;
    justify-content: center;
}


.btn-purple {
	background-color: #673ab7;
	color: white;
}

.btn-purple:hover {
	background-color: #3AB72A;
	color: white;
}

.btn-orange {
	background-color: #673ab7;
	color: white;
}

.btn-orange:hover{
	background-color: #D19704;
	color: white;
}

.btn-red {
	background-color: #673ab7;
	color: white;
}

.btn-red:hover {
	background-color: #C1381D;
	color: white;
}

.copy-icon:hover {
	color: #01ADAD;
}

.edit-icon:hover {
	color: #D19704;
}

.delete-icon:hover {
	color: #C1381D;
}

input {
	caret-color: #673ab7;
		
}

.icon-header{
	color: white;
	margin-left: 15px;
}

.icon-header:hover {
	color: #01ADAD;
}

.darkmode-layer, .darkmode-toggle {
  z-index: 500;
}

.btn-fake {
	background-color: transparent;
	border-style: hidden;
}

